# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Node dependencies to lessen the burden in the Repo
/Tracker/Tracker/material-kit-react-main/node-modules

#ignoring the compiled py files that are autgenerated
**/__pycache__/
**/_pycache_/

**.pyc


# ignore certifications in testing 
tracker/media/certificates/


# Potentially remove  tracker/db.sqlite3 from gitignore if db issues arise
tracker/db.sqlite3
*.sqlite3
Documentation/~$w to Use the Website as an Employee.docx
Documentation/~$w To use the Website as an Admin.docx
Documentation/~WRL0005.tmp
