{% extends 'index.html' %}
{% load static %}

{%block content %}
    <div class="center">
        <div>
            <center><div class="card-index" style="width: 10rem;">
                    
                <img src="{% static 'Logo.png' %}" class="card-img-top" alt="...">
            </div></center>
            <center><h2 style="color: var(--val-orange);">Create New Account</h2></center>
            <form method="POST">
                <div class="shadow-lg p-4 mb-5 bg-body rounded">
                {% csrf_token %}
                {{form.as_p}}
                
                <container>
                    <center><button class="btn btn-primary">Register</button></center>
                    {% comment %} <a href="{% url 'dashboard' %}" class="btn btn-primary"><h3>Register</h3></a> {% endcomment %}
                    <href="{% url 'home' %}"><button><h3>Back</button></h3>
                <container>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 