{% extends 'index.html' %}

{% block  content %}
    <div class="sidebar">
        <center><a class="active" href="#">Dashboard</a><center>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
        <a href="#">Page 4</a>
    </div>

    <div class="content">
        <center><h1 style="font-family: Arial">Welcome, {{user.username}}, your ID is {{user.id}}</h1></center>
        <center><p style="font-family: Arial"><font color=red>Page Content To Be Added</p><center>
    </div>
    {% for profile in profiles %}
        {% if profile.profile_name.username == user.username %}
            {% for role in profile.roles_list.all %}
                <h2>Ocupation: {{ role }}</h2>
                    {% for cert in role.certificates_list.all %}
                        <h3>Certificate: {{ cert }}</h3>
                    {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

