{% extends 'base_dashboard.html' %}

{% block  adminContent %}

<style>
    .clickable {
        cursor: pointer;
    }
    
    .right-col {
        text-align: center;
    }
</style>

 <!-- A table for an admin view. --> 
<div class="container">
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Email</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            {% if profile.is_active %}
                <tr class="clickable warning dropdown-deliverable" data-for="#{{profile.id}}">
                    <td>{{profile}}</td>
                    <td>{{profile.profile_name.username}}</td>
                    <td>{{profile.roles}}</td>
                    <td>{{profile.profile_name.email}}</td>
                    {% for role in profile.roles_list.all %}
                        {% for cert in role.certificates_list.all %}
                            {% if cert.is_published %}
                                {% for image in images reversed %}
                                    {% if image.profile.profile_name == profile.profile_name %}
                                        {% if image.certificate == cert %} 
                                            {% ifchanged image.certificate %}
                                                {% if image.isValid %}
                                                    {{ profile.inrementCounter }}
                                                {% endif %}
                                            {% endifchanged %} 
                                        {% endif %} 
                                    {% endif %}                                   
                                {% endfor %} 
                            {% endif %}
                        {% endfor %} 
                    {% endfor %} 
                <td>
                    <progress value="{{ profile.counter}}" max="{{profile.getNumberOfCerts}}"> </progress>
                    {{ profile.counter}} / {{profile.getNumberOfCerts}}
                </td>
                </tr>
                <tr style="padding:0">
                    <td colspan=5 style="padding:0px;">
                        <div class="deliverable-infos" id="{{profile.id}}">
                            <table class="table table-condensed table-user-content" id="{{profile.id}}">
                                <thead>
                                    <tr>
                                        <th>Certificate</th>
                                        <th>Role</th>
                                        <th>Completion Date</th>
                                        <th>Expiration Date</th>
                                        <th>Valid</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in profile.roles_list.all %}
                                    {% for cert in role.certificates_list.all %}
                                    {% if cert.is_published %}
                                    <tr>
                                        <td>{{cert}} :</td>
                                        <td>{{role}}</td>
                                        <td>
                                        {% for image in images reversed %}
                                            {% if image.profile.profile_name == profile.profile_name %}
                                                {% if image.certificate == cert %} 
                                                    {% ifchanged image.certificate %}
                                                        {{image.certification_completion_date.date}}
                                                    {% endifchanged %} 
                                                {% endif %} 
                                            {% endif %}                                   
                                        {% endfor %} 
                                        </td>
                                        <td>
                                            {% for image in images reversed %}
                                                {% if image.profile.profile_name == profile.profile_name %}
                                                    {% if image.certificate == cert %} 
                                                        {% ifchanged image.certificate %}
                                                            {% if cert.is_limited %}
                                                                {{image.certification_due_date.date}}
                                                            {% else %}
                                                                Unlimited
                                                            {% endif %}        
                                                        {% endifchanged %} 
                                                    {% endif %} 
                                                {% endif %}                                   
                                            {% endfor %} 
                                            </td>
                                            <td>
                                                {% for image in images reversed %}
                                                    {% if image.profile.profile_name == profile.profile_name %}
                                                        {% if image.certificate == cert %} 
                                                            {% ifchanged image.certificate %}
                                                                {% if image.isValid %}
                                                                    &#9989;
                                                                {% else %}
                                                                    &#10060;
                                                            {% endif %}
                                                            {% endifchanged %} 
                                                        {% endif %} 
                                                    {% endif %}                                   
                                                {% endfor %} 
                                            </td>    
                                            <td>
                                                {% for image in images reversed %}
                                                    {% if image.profile.profile_name == profile.profile_name %}
                                                        {% if image.certificate == cert %} 
                                                            {% ifchanged image.certificate %}
                                                            <a href="{{image.file.url}}" download>{{image.getName}}</a>
                                                            {% endifchanged %} 
                                                        {% endif %} 
                                                    {% endif %}                                   
                                                {% endfor %} 
                                            </td>    
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding:0"></td>
                    <td style="padding:0"></td>
                </tr>
            {% endif %}
            {% endfor %}    
        </tbody>
    </table>
</div>
</div>
<script>
    $(document).ready(function() {
        $('.deliverable-infos').hide();
        $('.dropdown-deliverable').on('click', function(e) {
            console.log("dropdown toggled!");
            e.preventDefault();
            e.stopPropagation();
            //get targeted element via data-for attribute
            var dataFor = $(this).data('for');
            var idFor = $(dataFor);
            idFor.slideToggle();
        }); 
    });
</script>

{% endblock %}