<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'layouts.css' %}" type="text/css"/>
    <title>Simple Auth System</title>
</head>
<body>
    {% block content %}
        <center><h1>Homepage</h1></center>
        {% if user.is_authenticated %}
            <center><a href="{% url 'logout' %}">Logout</a></center>
        {% else %}
            <center><a href="{% url 'login_url' %}">Login</a></center>
            <center><a href="{% url 'register_url' %}">Register</a></center>
        {% endif %}
    {% endblock %}
</body>
</html>