# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Node dependencies to lessen the burden in the Repo
/Tracker/Tracker/material-kit-react-main/node-modules
tracker/tracker/__pycache__/
tracker/users/migrations/__pycache__/